.Index {
  .Task {
    .taskHeader {
      align-items: center;
      display: flex;
      margin-bottom: 1rem;

      h2 {
        flex-grow: 2;
        font-size: 1.5rem;
      }

      .arrows {
        &:hover {
          cursor: pointer;
        }

        .iconContainer {
          color: #ccc;
          display: inline-block;
          margin-right: .5rem;

          &:last-of-type {
            margin-right: 0;
          }

          .active {
            color: #00a624;
          }
        }
      }
    }
  }
}
